@view('header', [ 'title' => $card->name . ' - Cards - Admin' ])

<div class="breadcrumb">
    <ul>
        <li><a href="/">Banq</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/admin/cards">Cards</a></li>
        <li class="is-active"><a href="/admin/cards/{{ $card->id }}">{{ $card->name }}</a></li>
    </ul>
</div>

<h1 class="title">{{ $card->name }}</h1>

<p style="margin-bottom: 16px;">For: <a href="/admin/accounts/{{ $card->account_id }}">{{ $card->account->name }}</a></p>
<p style="margin-bottom: 16px;">RFID: <code>{{ $card->rfid }}</code></p>
<p style="margin-bottom: 16px;">False attempts: <b>{{ $card->attempts }}</b></p>
<p style="margin-bottom: 16px;">Blocked: <b>{{ $card->blocked ? 'true' : 'false' }}</b></p>

<div class="buttons">
    @if ($card->blocked):
        <a class="button is-warning" href="/admin/cards/{{ $card->id }}/unblock">Unblock & Clear attempts</a>
    @else:
        <a class="button is-warning" href="/admin/cards/{{ $card->id }}/block">Block</a>
    @endif
    <a class="button is-danger" href="/admin/cards/{{ $card->id }}/delete">Delete</a>
</div>

@view('footer')
