@view('header', [ 'title' => 'Transactions - Admin' ])

<div class="breadcrumb">
    <ul>
        <li><a href="/">Banq</a></li>
        <li><a href="/admin">Admin</a></li>
        <li class="is-active"><a href="/admin/transactions">Transactions</a></li>
    </ul>
</div>

<h1 class="title">Transactions</h1>

<div class="columns">
    <div class="column">
        <div class="buttons">
            <a class="button is-link" href="/admin/transactions/create">Create</a>
        </div>
    </div>
    <form class="column" method="get">
        <div class="field has-addons">
            <div class="control" style="width: 100%;">
                <input class="input" type="text" id="q" name="q" placeholder="Search..." value="{{ request('q') }}">
            </div>
            <div class="control">
                <button class="button is-link" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

@if (count($transactions) > 0):
    <div class="columns is-multiline">
        @foreach ($transactions as $transaction):
            <div class="column is-one-third">
                <div class="box" style="height: 100%;">
                    <h2 class="title is-4">
                        <a href="/admin/transactions/{{ $transaction->id }}">{{ $transaction->name }}</a>
                    </h2>
                    <p>From: <a href="/admin/accounts/{{ $transaction->from_account_id }}">{{ $transaction->from_account->name }}</a></p>
                    <p>To: <a href="/admin/accounts/{{ $transaction->to_account_id }}">{{ $transaction->to_account->name }}</a></p>
                    <p>Amount: {!! format_money($transaction->amount) !!}</p>
                    <p>Send at: <i>{{ $transaction->created_at }}</i></p>
                </div>
            </div>
        @endforeach
    </div>
@else:
    <p><i>There are no transactions found</i></p>
@endif

@view('pagination', [ 'page' => $page, 'last_page' => $last_page ])

@view('footer')
