@view('header', [ 'title' => 'Admin' ])

<div class="breadcrumb">
    <ul>
        <li><a href="/">Banq</a></li>
        <li class="is-active"><a href="/admin">Admin</a></li>
    </ul>
</div>

<h1 class="title" style="margin-bottom: 48px;">Admin</h1>

<div class="buttons">
    <a class="button" href="/admin/devices">Devices</a>
    <a class="button" href="/admin/users">Users</a>
    <a class="button" href="/admin/accounts">Accounts</a>
    <a class="button" href="/admin/transactions">Transactions</a>
    <a class="button" href="/admin/payment-links">Payment Links</a>
</div>

@view('footer')
