@view('header', [ 'title' => 'Accounts - Admin' ])

<div class="breadcrumb">
    <ul>
        <li><a href="/">Banq</a></li>
        <li><a href="/admin">Admin</a></li>
        <li class="is-active"><a href="/admin/accounts">Accounts</a></li>
    </ul>
</div>

<h1 class="title">Accounts</h1>

<div class="buttons">
    <a class="button is-link" href="/admin/accounts/create">Create</a>
</div>

<div class="columns is-multiline">
    @foreach ($accounts as $account):
        <div class="column is-one-third">
            <div class="box" style="height: 100%;">
                <h2 class="title is-4">
                    <a href="/admin/accounts/{{ $account->id }}">{{ $account->name }}</a>
                </h2>
                <p>
                    Amount: {!! format_money($account->amount) !!}

                    @if ($account->type == Accounts::TYPE_SAVE):
                        <span class="tag is-success" style="margin-left: 16px;">SAVE ACCOUNT</span>
                    @endif
                    @if ($account->type == Accounts::TYPE_PAYMENT):
                        <span class="tag is-info" style="margin-left: 16px;">PAYMENT ACCOUNT</span>
                    @endif
                </p>
            </div>
        </div>
    @endforeach
</div>

@view('pagination', [ 'page' => $page, 'last_page' => $last_page ])

@view('footer')
