@view('header', [ 'title' => $account->name . ' - Accounts - Admin' ])

<h1 class="title">{{ $account->name }}</h1>

<p style="margin-bottom: 16px;">Amount: <b>&euro; {{ $account->amount }}</b></p>

<div class="buttons">
    <a class="button is-success" href="/admin/transactions/create/?from_account_id={{ $account->id }}">Pay</a>
    <a class="button is-link" href="/admin/accounts/{{ $account->id }}/edit">Edit</a>
    <a class="button is-danger" href="/admin/accounts/{{ $account->id }}/delete">Delete</a>
</div>

<h2 class="title">Transactions</h2>

@if (count($transactions) > 0):
    @foreach ($transactions as $transaction):
        @if ($transaction->to_account_id == $account->id):
            <div class="box has-text-white has-background-success">
                <h2 class="title is-4">
                    <a class="has-text-white" href="/admin/transactions/{{ $transaction->id }}">{{ $transaction->name }}</a>
                </h2>
                <p>From: <a class="has-text-white" href="/admin/accounts/{{ $transaction->from_account_id }}">{{ $transaction->from_account->name }}</a></p>
                <p>Amount: <b>&euro; {{ $transaction->amount }}</b></p>
                <p>Send at: <i>{{ $transaction->created_at }}</i></p>
            </div>
        @endif
        @if ($transaction->from_account_id == $account->id):
            <div class="box has-text-white has-background-danger">
                <h2 class="title is-4">
                    <a class="has-text-white" href="/admin/transactions/{{ $transaction->id }}">{{ $transaction->name }}</a>
                </h2>
                <p>To: <a class="has-text-white" href="/admin/accounts/{{ $transaction->to_account_id }}">{{ $transaction->to_account->name }}</a></p>
                <p>Amount: <b>&euro; {{ $transaction->amount }}</b></p>
                <p>Send at: <i>{{ $transaction->created_at }}</i></p>
            </div>
        @endif
    @endforeach
@else:
    <p><i>There are no transactions yet!</i></p>
@endif

@view('footer')
