        </div>
    </div>
    @if (!IS_MOBILE_APP):
        <div class="footer">
            <div class="content has-text-centered">
                @if (APP_DEBUG && !isset($disable_metrics)):
                    <p><code>{{ round((microtime(true) - $_SERVER['REQUEST_TIME_FLOAT']) * 1000, 1) }} ms - {{ Database::queryCount() }} queries</code></p>
                @endif
                <p>Made by <a href="https://bastiaan.ml/" target="_blank" rel="noreferrer">Bastiaan van der Plaat</a>, Deniz Kahriman and Don Luijendijk</p>
                <p>Download our <a href="/banq.apk">Android app</a> and for the source code go to <a href="https://github.com/bplaat/banq" target="_blank" rel="noreferrer">GitHub</a></p>
            </div>
        </div>
    @endif
    <script src="/script.min.js"></script>
</body>
</html>
