<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ $title }} - Banq</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/icon-192.png">
    <link rel="stylesheet" href="/bulma.min.css">
    <meta name="theme-color" content="#fff">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    @if (!isset($disable_navbar)):
        @view('navigation')
    @endif
    <div class="section">
        <div class="container">
