@view('header', [ 'title' => 'Home' ])

@if (Auth::check()):
    <h1 class="title">Welcome {{ Auth::user()->firstname }}!</h1>
    <p style="margin-bottom: 16px;">Banq is very secure online banking system made to make you happy!</p>
    <p style="margin-bottom: 16px;">Check your accounts or transactions</p>
    <div class="buttons">
        <a class="button" href="/accounts">Accounts</a>
        <a class="button" href="/transactions">Transactions</a>
    </div>
@else:
    <h1 class="title">Welcome to Banq</h1>
    <p style="margin-bottom: 16px;">Banq is very secure online banking system made to make you happy!</p>
    <p style="margin-bottom: 16px;">Login or register to use our services:</p>
    <div class="buttons">
        <a class="button is-link" href="/auth/login">Login</a>
        <a class="button" href="/auth/register">Register</a>
    </div>
@endif

@view('footer')
