@view('header', [ 'title' => 'Offline', 'disable_navbar' => true ])

<div class="navbar is-light is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 24px; height: 24px; margin-right: .5rem;" viewBox="0 0 24 24">
                    <path fill="#8D5699" d="M11.5,1L2,6V8H21V6" />
                    <path fill="#75C5BA" d="M4,10V17H7V10H4M10,10V17H13V10M16,10V17H19V10" />
                    <path fill="#8D5699" d="M2,22H21V19H2" />
                </svg>
                Banq
            </a>
        </div>
    </div>
</div>

<div class="content">
    <h1 class="title">Offline</h1>
    <p>You are offline, connect to the internet to use this {{ IS_MOBILE_APP ? 'app' : 'site' }}!</p>
</div>

@view('footer', [ 'disable_metrics' => true ])
