@view('header', [ 'title' => 'Edit user - Users - Admin' ])

<h1 class="title">Edit user</h1>

<form method="post" action="/admin/users/{{ $user->id }}">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label" for="firstname">First name</label>
                <input class="input" type="text" id="firstname" name="firstname" value="{{ $user->firstname }}" autofocus required>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label" for="lastname">Last name</label>
                <input class="input" type="text" id="lastname" name="lastname" value="{{ $user->lastname }}" required>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label" for="username">Username</label>
        <input class="input" type="text" id="username" name="username" value="{{ $user->username }}" required>
    </div>
    <div class="field">
        <label class="label" for="email">Email address</label>
        <input class="input" type="email" id="email" name="email" value="{{ $user->email }}" required>
    </div>
    <div class="field">
        <label class="label" for="password">Password (leave empty to not change)</label>
        <input class="input" type="password" id="password" name="password">
    </div>
    <div class="field">
        <label class="label" for="confirm_password">Confirm password</label>
        <input class="input" type="password" id="confirm_password" name="confirm_password">
    </div>
    <div class="field">
        <label class="label" for="role">Role</label>
        <select class="input" id="role" name="role" required>
            <option value="{{ Users::ROLE_NORMAL }}" {{ $user->role == Users::ROLE_NORMAL ? 'selected' : ''}}>Normal</option>
            <option value="{{ Users::ROLE_ADMIN }}" {{ $user->role == Users::ROLE_ADMIN ? 'selected' : ''}}>Admin</option>
        </select>
    </div>
    <div class="field">
        <button class="button is-link" type="submit">Edit user</button>
    </div>
</form>

@view('footer')
