@view('header', [ 'title' => $paymentLink->name . ' - Payment Links - Admin' ])

<div class="breadcrumb">
    <ul>
        <li><a href="/">Banq</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/admin/payment-links">Payment Links</a></li>
        <li class="is-active"><a href="/admin/payment-link/{{ $paymentLink->link }}">{{ $paymentLink->name }}</a></li>
    </ul>
</div>

<h1 class="title">{{ $paymentLink->name }}</h1>
<p style="margin-bottom: 16px;">For: <a href="/admin/accounts/{{ $paymentLink->account_id }}">{{ $paymentLink->account->name }}</a></p>
<p style="margin-bottom: 16px;">Amount: {!! format_money($paymentLink->amount) !!}</p>

@$link = 'http' . (isset($_SERVER['HTTPS']) ? 's' : '') . '://' . $_SERVER['HTTP_HOST'] . '/pay/' . $paymentLink->link;
<p style="margin-bottom: 16px;">Link: <a href="{{ $link }}" target="_blank"><b>{{ $link }}</b></a></p>

<div class="buttons">
    <button id="share-button" class="button is-success" style="display: none;">Share link</button>
    <button id="copy-button" class="button is-success" style="display: none;">Copy link</button>
    <a class="button is-danger" href="/admin/payment-links/{{ $paymentLink->link }}/delete">Delete</a>
</div>

<script>
var paymentLink = JSON.parse('{!! json_encode([ "link" => $link, "name" => $paymentLink->name, "amount" => $paymentLink->amount, "account_name" => $paymentLink->account->name ], JSON_HEX_APOS) !!}');
if ('share' in navigator) {
    var shareButton = document.getElementById('share-button');
    shareButton.style.display = 'inline-block';
    shareButton.addEventListener('click', function (event) {
        event.preventDefault();
        navigator.share({
            title: 'Payment link from Banq',
            text: 'Pay \u20AC' + paymentLink.amount + ' for \'' + paymentLink.name + '\' to \'' + paymentLink.account_name + '\' via Banq',
            url: paymentLink.link
        });
    });
} else if ('clipboard' in navigator) {
    var copyButton = document.getElementById('copy-button');
    copyButton.style.display = 'inline-block';
    copyButton.addEventListener('click', function (event) {
        event.preventDefault();
        navigator.clipboard.writeText(paymentLink.link);
    });
}
</script>

@view('footer')
