@view('header', [ 'title' => $payment_link->name . ' - Payment Links - Admin' ])

<div class="breadcrumb">
    <ul>
        <li><a href="/">Banq</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/admin/payment-links">Payment Links</a></li>
        <li class="is-active"><a href="/admin/payment-link/{{ $payment_link->id }}">{{ $payment_link->name }}</a></li>
    </ul>
</div>

<h1 class="title">{{ $payment_link->name }}</h1>
<p style="margin-bottom: 16px;">For: <a href="/admin/accounts/{{ $payment_link->account_id }}">{{ $payment_link->account->name }}</a></p>
<p style="margin-bottom: 16px;">Amount: {!! format_money($payment_link->amount) !!}</p>

<p style="margin-bottom: 16px;">Link: <a href="{{ $payment_link->absolute_link }}" target="_blank" rel="noreferrer"><b>{{ $payment_link->absolute_link }}</b></a></p>

<div class="buttons">
    <button id="share-button" class="button is-success" style="display: none;">Share link</button>
    <button id="copy-button" class="button is-success" style="display: none;">Copy link</button>
    <a class="button is-danger" href="/admin/payment-links/{{ $payment_link->id }}/delete">Delete</a>
</div>

@view('payment-links.script', [ 'payment_link' => $payment_link ])

@view('footer')
