@view('header', [ 'title' => 'Transactions' ])

<h1 class="title">Transactions</h1>

<div class="buttons">
    <a class="button is-link" href="/transactions/create">Create</a>
</div>

@foreach ($transactions as $transaction):
    @if (Accounts::select($transaction->from_account_id)->fetch()->user_id == Auth::id()):
        <div class="box has-text-white has-background-danger">
            <h2 class="title is-4">
                <a class="has-text-white" href="/transactions/{{ $transaction->id }}">{{ $transaction->name }}</a>
            </h2>
            <p>To: {{ Accounts::select($transaction->to_account_id)->fetch()->name }}</p>
            <p>From: {{ Accounts::select($transaction->from_account_id)->fetch()->name }}</p>
            <p>Amount: <b>&euro; {{ $transaction->amount }}</b></p>
        </div>
    @endif
    @if (Accounts::select($transaction->to_account_id)->fetch()->user_id == Auth::id()):
        <div class="box has-text-white has-background-success">
            <h2 class="title is-4">
                <a class="has-text-white" href="/transactions/{{ $transaction->id }}">{{ $transaction->name }}</a>
            </h2>
            <p>To: {{ Accounts::select($transaction->to_account_id)->fetch()->name }}</p>
            <p>From: {{ Accounts::select($transaction->from_account_id)->fetch()->name }}</p>
            <p>Amount: <b>&euro; {{ $transaction->amount }}</b></p>
        </div>
    @endif
@endforeach

@view('footer')
