@view('header', [ 'title' => 'Login' ])

<div class="breadcrumb">
    <ul>
      <li><a href="/">Banq</a></li>
      <li class="is-active"><a href="/auth/login">Login</a></li>
    </ul>
</div>

<h1 class="title">Login</h1>

@view('errors')

<form method="post">
    @view('csrf_token')

    <div class="field">
        <label class="label" for="login">Username or email address</label>
        <input class="input" type="text" id="login" name="login" autofocus required>
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <input class="input" type="password" id="password" name="password" required>
    </div>
    <div class="field">
        <button class="button is-link" type="submit">Login</button>
    </div>
</form>

@view('footer')
