@view('header', [ 'title' => 'Register' ])

<div class="breadcrumb">
    <ul>
      <li><a href="/">Banq</a></li>
      <li class="is-active"><a href="/auth/register">Register</a></li>
    </ul>
</div>

<h1 class="title">Register</h1>

@view('errors')

<form method="post">
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label" for="firstname">First name</label>
                <input class="input" type="text" id="firstname" name="firstname" value="{{ old('firstname') }}" autofocus required>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label" for="lastname">Last name</label>
                <input class="input" type="text" id="lastname" name="lastname" value="{{ old('lastname') }}" required>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label" for="username">Username</label>
        <input class="input" type="text" id="username" name="username" value="{{ old('username') }}" required>
    </div>
    <div class="field">
        <label class="label" for="email">Email address</label>
        <input class="input" type="email" id="email" name="email" value="{{ old('email') }}" required>
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <input class="input" type="password" id="password" name="password" required>
    </div>
    <div class="field">
        <label class="label" for="password_confirmation">Confirm password</label>
        <input class="input" type="password" id="password_confirmation" name="password_confirmation" required>
    </div>
    <div class="field">
        <button class="button is-link" type="submit">Register</button>
    </div>
</form>

@view('footer')
