@view('header', [ 'title' => 'Settings' ])

<div class="breadcrumb">
    <ul>
        <li><a href="/">Banq</a></li>
        <li class="is-active"><a href="/auth/settings">Settings</a></li>
    </ul>
</div>

<h1 class="title">Settings</h1>

@view('messages')
@view('errors')

<form class="box" method="post" action="/auth/settings/change_details">
    @view('csrf_token')

    <h2 class="title is-4">Change user details</h2>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label" for="firstname">First name</label>
                <input class="input" type="text" id="firstname" name="firstname" value="{{ old('firstname', Auth::user()->firstname) }}" required>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label" for="lastname">Last name</label>
                <input class="input" type="text" id="lastname" name="lastname" value="{{ old('lastname', Auth::user()->lastname) }}" required>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label" for="username">Username</label>
        <input class="input" type="text" id="username" name="username" value="{{ old('username', Auth::user()->username) }}" required>
    </div>
    <div class="field">
        <label class="label" for="email">Email address</label>
        <input class="input" type="email" id="email" name="email" value="{{ old('email', Auth::user()->email) }}" required>
    </div>
    <div class="field">
        <button class="button is-link" type="submit">Save</button>
    </div>
</form>

<form class="box" method="post" action="/auth/settings/change_password">
    @view('csrf_token')

    <h2 class="title is-4">Change password</h2>
    <div class="field">
        <label class="label" for="old_password">Old password</label>
        <input class="input" type="password" id="old_password" name="old_password" required>
    </div>
    <div class="field">
        <label class="label" for="password">New password</label>
        <input class="input" type="password" id="password" name="password" required>
    </div>
    <div class="field">
        <label class="label" for="password_confirmation">Confirm new password</label>
        <input class="input" type="password" id="password_confirmation" name="password_confirmation" required>
    </div>
    <div class="field">
        <button class="button is-link" type="submit">Save</button>
    </div>
</form>

<div class="box">
    <h2 class="title is-4">Active sessions</h2>
    @foreach ($active_sessions as $session):
        <div class="box">
            <h1 class="title is-5">
                <a href="https://ipinfo.io/{{ $session->ip }}" target="_blank" rel="noreferrer">{{ $session->ip }}</a> using {{ $session->browser }} {{ $session->version }} on {{ $session->platform }}
                @if ($session->session == $_COOKIE[SESSION_COOKIE_NAME]):
                    <div class="tag is-link" style="margin-left: 16px;">Current session</div>
                @endif
            </h1>
            <p style="margin-bottom: 16px;">Created on {{ $session->created_at }}, last used on {{ $session->updated_at }} and expires on {{ $session->expires_at }}</p>
            <p><a class="button is-danger" href="/auth/settings/revoke_session/{{ $session->session }}">Revoke session</a></p>
        </div>
    @endforeach
</div>

<div class="box">
    <h2 class="title is-4">Delete account</h2>
    <p><a class="button is-danger" href="/auth/settings/delete">Delete account</a></p>
</div>

@view('footer')
